
html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EBEBEB;
}

.logo {
    padding: 15px;
}

.logo span {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

.color-title-logo {
    background-color: #306B2D;
    color: #FFFFFF;
}

.color-title {
    background-color: #306B2D;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    .menu-title {
        font-family: 'Cuprum', sans-serif;
        font-weight: 700;
        font-size: 16px;
        padding: 10px;
    }

    .top-icon {
        font-size: 22px;
        margin-right: 10px;
        cursor: pointer;
    }

    .logo span {
        font-size: 12px;
        display: block;
        margin-top: 3px;
    }

    .content {
        margin-top: 15px;
        margin-bottom: 15px;
    } 

    #reportrange span {
        font-size: 12px;
    }

    .filter {
        margin-bottom: 10px;
    }

    .sold {
        cursor: pointer;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .sold div {
        padding: 5px !important;
    }
}

@media only screen and (min-width: 601px) {
    .menu-title {
        font-family: 'Cuprum', sans-serif;
        font-weight: 700;
        font-size: 20px;
        padding: 10px;
    }

    .top-icon {
        font-size: 26px;
        margin-right: 20px;
        cursor: pointer;
    }

    .content {
        margin-top: 30px;
        margin-bottom: 30px;
    } 

    #reportrange span {
        font-size: 12px;
    }

    .filter {
        margin-bottom: 0px;
    }

    .sold {
        cursor: pointer;
        padding-right: 2px;
        padding-left: 2px;
    }
    
    .sold div {
        padding: 10px;
    }
}

.menu-title:hover {
    background-color: #3B8538;
}

.menu-title a {
    color: #FFFFFF !important;
    text-decoration: none;
}

.menu-title-selected {
    background-color: #EEEEEE;
    color: #C79D28;
    border-bottom: solid 2px #C79D28;
}

.menu-title-selected a {
    color: #C79D28 !important;
    text-decoration: none;
}

.menu-title-selected:hover {
    background-color: #EEEEEE !important;
}

.not-found-icon {
    font-size: 36px !important;
}

.align-items-center {
    display: flex; 
    align-items: center;  /*Aligns vertically center */
}

.data-card {
    background-color: #FFFFFF;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
}

.data-card-newline {
    margin-top: 30px;
    margin-bottom: 30px;
}

.data-card-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.perfil-icon {
    font-size: 80px;
    color: #306B2D;
}

.small-link {
    font-size: 13px;
    color: #6E7F8D;
}

#perfil-info .row {
    margin: 0 !important;
    padding: 0 !important;
}

#perfil-info .row .col {
    margin: 0;
    padding: 0;
}

#perfil-info .perfil-name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px !important;
}

#perfil-info .perfil-division {
    border-bottom: solid 1px #2D6FA8;
    margin-bottom: 18px !important;
}

#perfil-info .perfil-created {
    color: #6E7F8D;
}

#perfil-info a, #perfil-icon a, #perfil-address a, #perfil-options a {
    color: #306B2D;
}

#modal-content-text {
    font-size: 14px !important;
}

#sales-items a {
    color: #000000;
    text-decoration: none;
}

.right {
    position: absolute;
    right: 0px;
    width: auto;
    padding-right: 5px;
}

.right-add {
    position: absolute;
    right: 15px;
    width: auto;
}

.right-add a {
    text-decoration: none !important;
}


.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  /* a link   */
  .list-style{
    text-decoration: none !important;
  }
  
  
  /* scrool style  */
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border: 1px solid #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .text-hover{
    color: #222 !important;
  }
  .text-hover:hover{
    color: rgb(255, 255, 255) !important;
  }



     .Modal {
        box-shadow: 0px 3px 8px #ccc;
        border: none;
        border-radius: 10px;
        background: url(https://ucarecdn.com/ac0455c1-5e73-4139-af3a-4c5981b5db43/patternsuccess.png) repeat;

     }
     .Modal-error {
        box-shadow: 0px 3px 8px #ccc;
        border: none;
        border-radius: 10px;
        background: url(https://ucarecdn.com/4c718ce5-e13e-4a2a-8d84-5b01d9c88e9b/patternerror.png) repeat; }
    
      .Modal .icon {
          padding: 23px;
          width: 80px;
          height: 80px;
          background-color: #98fb98;
          border-radius: 50%;
          position: relative;
          left: 50%;
          -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%); 
        }
     .Modal .icon svg{
            font-size: 2.5em;
            color: #fff;
            line-height: 50px; 
        }
    
        .Modal-error .icon svg {
               font-size: 2.5em;
               color: #fff;
               line-height: 50px; 
           }
   
     .Modal-error .icon {
            padding: 15px;
            width: 80px;
            height: 80px;
            background-color: #ff4500;
            border-radius: 50%;
            position: relative;
            left: 50%;
            -webkit-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
         }
         
        .Modal h2,
        .Modal-error h2 {
            text-align: center;
            font-size: 42px;
            font-family: 'Roboto';
            font-weight: 900;
            margin: 20px 0 6px 0;
            color: #000;
        }
          .Modal p,
          .Modal-error p {
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 20px;
            color: #333;
            text-align: center;
        }
     .Modal .ModalFooter,
     .Modal-error .ModalFooter  {
        margin: 20px 0 30px 0;
        padding: 0; }
       .Modal .ModalFooter a,
       .Modal-error .ModalFooter a {
          display: block;
          font-family: 'SourceSansPro', sans-serif;
          color: #000;
          font-size: 1.5em;
          font-weight: 400;
          padding: 10px 30px;
          background-color: #f5f5f5;
          width: 30%;
          text-align: center;
          border-radius: 3px;
          margin: 0 auto;
          text-decoration: none;
          text-transform: uppercase; }
      .Modal .ModalFooter a:hover,
      .Modal-error .ModalFooter a:hover {
            background-color: #000;
            color: #fff; }